:root {
    --font-color: #191919;
    --hover-color: #3B5E3D;
    --background-color: #fafafa;
    --font: "Poppins";
}

body {
    margin: 0;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--font), "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}


.topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    font-size: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.topnav a:not(:first-child) {
    margin-left: 200px;
}

.topnav input {
    margin-top: 5px;
    margin-right: 50px;
    float: right;
}

#logo {
    position: absolute;
    width: 50px;
    left: 3%;
    top: 0
}

.sidenav {
    margin: 170px 0;
    padding: 0 20px;
    width: 190px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    background-color: var(--background-color);
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}

.sidenav a:hover {
    color: var(--hover-color);
    font-size: 21px;
    transition: 0.3s;
}

.slideshow-container {
    height: 65vh;
    width: 70vw;
    margin: 100px auto;
    position: relative;
}

.quick-services {
    display: flex;
    height: 15vh;
    width: 80vw;
    position: relative;
    margin: 0 17vw
}
.quick-services img {
    height: 15vh;
    margin-right: 10vw;
    width: 15vw;
}

.img-wrap {
    position: relative;
    height: 15vh;
    width: 15vw;
    margin-right: 10vw;
}

.description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(17, 66, 23, 0.425);
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .description {
    visibility: visible;
    opacity: 1;
}

.slides {
    display: none;
}

.slides img {
    min-height: 65vh;
    max-height: 65vh;
    min-width: 100%;
    max-width: 100%;
}

.quic

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

  @keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}