:root {
    --font-color: #191919;
    --hover-color: #3B5E3D;
    --dark-green-text-color: #1c421d;
    --background-color: #fafafa;
    --font: "Poppins";
}

body {
    margin: 0;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--font), "Arial", sans-serif;
}

h1 {
    font-weight: 300;
    color: var(--dark-green-text-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

.title {
    font-weight: 200;
    color: var(--dark-green-text-color);
    font-size: 50px;
    text-align: center;
}

.title-caption {
    font-style: italic;
    text-align: center;
    font-weight: 200;
}


.topnav {
    overflow: hidden;
    position: sticky;
    top: 0;
    font-size: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.topnav a:not(:first-child) {
    margin-left: 200px;
}

.topnav input {
    margin-top: 5px;
    margin-right: 50px;
    float: right;
}

#logo {
    position: absolute;
    width: 50px;
    left: 3%;
    top: 0
}

.sidenav {
    z-index: 10;
    margin: 170px 0;
    padding: 0 20px;
    width: 190px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    background-color: var(--background-color);
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}

.sidenav a:hover {
    color: var(--hover-color);
    font-size: 21px;
    transition: 0.3s;
}

.slideshow-container {
    height: 65vh;
    width: 70vw;
    margin: 100px auto;
    position: relative;
}

.quick-services {
    display: flex;
    height: 15vh;
    width: 80vw;
    position: relative;
    margin: 0 17vw;
    overflow: hidden;
}
.quick-services img {
    height: 15vh;
    margin-right: 10vw;
    width: 15vw;
}

.img-wrap {
    position: relative;
    height: 15vh;
    width: 15vw;
    margin-right: 10vw;
}

.last {
    width: 300px;
    height: 168px;
}

.description {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(17, 66, 23, 0.625);
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.description:nth-child(4) {
    width: 300px;
}

.img-wrap:hover .description {
    visibility: visible;
    opacity: 1;
}

.slides {
    display: none;
}

.slides img {
    min-height: 65vh;
    max-height: 65vh;
    min-width: 100%;
    max-width: 100%;
}

.quick-search {
    text-align: center;
    font-size: 45px;
    color: var(--dark-green-text-color);
    font-weight: 300;
}

.quick-landscape {
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 91vw;
    position: relative;
    margin: 0 230px;
    padding-bottom: 40px;
}

.about {
    display: block;
    text-align: center;
    padding: 100px;
}

.about p {
    margin-bottom: 60px;
}

.about img {
    width: 50px;
}

.landscape-h1 {
    text-align: center;
}

.categories {
    margin: 60px;
}

.row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.categories p {
    font-style: italic;
    font-weight: 300;
}

.categories h5 {
    max-width: 500px;
}

.categories img {
    width: 500px;
    height: 400px
}

h2 {
    font-weight: 500;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}